/* Add poppins or ubuntu fonts from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;700&family=Skranji:wght@400;700&family=Ubuntu:wght@300;400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
  /* font-family: 'Skranji', cursive; */
  /* font-family: 'Playfair Display', serif; */
}

/* Custom navigation style */
.custom-nav {
  width: 100%;
  padding: 0.5rem;
  background-color: #fff;
  box-shadow: 0 4px 12px rgb(37 38 94 / 6%);
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__png {
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.logo-text {
  font-family: "Skranji", cursive;
  font-weight: 500;
  font-size: 1.25rem;
  color: #00a250;
  text-transform: uppercase;
  margin-right: 2.5rem;
}

.nav__link {
  font-size: 1rem;
  font-weight: 300;
  color: #25265e;
  margin-right: 1.75rem;
}

.nav__search {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  position: relative;
}

.nav__search-holder {
  position: absolute;
  top: -0.1rem;
}

.nav__search-icon {
  font-size: 1.6rem;
  color: #a8a8bf;
  cursor: pointer;
}

.nav__search-box input {
  font-size: 1rem;
  color: #25265e;
  padding-left: 2rem;
  border: none;
  border-radius: 4px;
  outline: none;
}

/* Error msg tooltip */
.error-tooltip {
  display: none;
  position: absolute;
  top: 3.3rem;
  left: 2rem;
  background: rgb(255 0 26);
  color: rgb(255 255 255);
  font-size: 0.625rem;
  width: 17rem;
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.error-tooltip::before {
  content: "";
  position: absolute;
  top: -0.3rem;
  left: 2rem;
  border-width: 15px 0 0 15px;
  border-style: solid;
  border-color: rgb(255 0 0) transparent;
  transform: rotate(-45deg);
}

/* Presentation design*/
.present {
  width: 100%;
  height: 571px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../images/background.png) no-repeat;
  background-size: 600px;
  background-position: right top 3.9rem;
}

.present__heading {
  font-size: 2.25rem;
  line-height: 1.6;
  font-weight: 700;
  color: #25265e;
  margin-bottom: 1.5rem;
}

.present__desc {
  font-size: 1.125rem;
  line-height: 1.8;
  color: rgba(37, 38, 94, 0.7);
  margin-bottom: 3rem;
}

.present__update h4 {
  font-size: 1.125rem;
  color: rgb(37 38 94 / 70%);
  margin-bottom: 1rem;
}

.present__mail {
  width: 380px;
}

.present__mail input[type="text"] {
  padding: 0.625rem;
}

.present__mail__btn--color {
  background-color: #4d4dde;
}

/* Custom card design */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.custom-card {
  width: 18rem;
  padding: 2.5rem 2rem;
  margin-bottom: 2rem;
  background: rgb(245 245 245) url(../images/gplay.png);
  background-size: cover;
  background-position: top left -1.6rem;
  border-top: 3px solid #4d4dde;
}

.card__img {
  display: block;
  width: calc(18rem / 2.15);
  height: calc(18rem / 2.15);
  border: 1px solid #eff3fe;
  border-radius: 0.6rem;
  margin: auto;
  margin-bottom: 1.75rem;
}

.card__desc {
  font-size: 0.75rem;
  color: #4e4e4e;
  text-align: center;
}

.card__title {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  text-align: center;
}

.btn-container {
  text-align: center;
}

.card__btn {
  padding: 0.75rem 3rem;
  margin-top: 0.875rem;
  background-color: #4d4dde;
  color: #fff;
  border: none;
  outline: none;
  position: relative;
}

.card__btn::after {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  border: 1px solid rgb(77 77 222);
  padding: 1.819rem 2.14rem;
}

/* Details card design */
.card-details {
  width: 100%;
}

.details__images {
  position: relative;
  width: 550px;
  height: 340px;
}

.details__parentImg {
  width: 100%;
  border-radius: 0.4rem;
  object-fit: cover;
}

.details__img {
  position: absolute;
  top: 46%;
  right: -25%;
  display: block;
  width: 350px;
  height: auto;
  background-color: rgb(255 255 255 / 50%);
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  padding: 0.2rem;
}

.title-subtitle {
  width: fit-content;
  padding: 0.625rem 3rem 0.625rem 1rem;
  margin-top: 0.875rem;
  border-left: 3px solid #8696f3;
  background-color: #eff3fe;
}

.title-subtitle h2 {
  font-family: "Playfair Display", serif;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.title-subtitle h5 {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.875rem;
  text-transform: lowercase;
  letter-spacing: 4px;
}

.details__born {
  width: fit-content;
  padding: 0.625rem 3rem 0.625rem 1rem;
  margin-top: 0.875rem;
  border-left: 3px solid #8696f3;
  background-color: #eff3fe;
}

.details__born p {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.details__born p span {
  color: #ac35ff;
}

.details__desc {
  padding: 1rem 0;
  line-height: 1.6;
}

.details__desc span {
  color: #4d4dde;
  text-decoration: underline;
  cursor: pointer;
}

/* Spinner design */
.spinner {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  place-items: center;
  z-index: 99999;
}
